[Unit]
Description=BeatCrypto's distributed currency daemon
After=network.target

[Service]
User=beatcrypto
Group=beatcrypto

Type=forking
PIDFile=/var/lib/beatcryptod/beatcryptod.pid

ExecStart=/usr/bin/beatcryptod -daemon -pid=/var/lib/beatcryptod/beatcryptod.pid \
          -conf=/etc/beatcrypto/beatcrypto.conf -datadir=/var/lib/beatcryptod

ExecStop=-/usr/bin/beatcrypto-cli -conf=/etc/beatcrypto/beatcrypto.conf \
         -datadir=/var/lib/beatcryptod stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
